 
<div class="padding-30">
   <img src="/images/ganesh-582922_960_720.png" class="center" width="5%" alt="">
</div>
<div class="panel panel-default">
    <div class="panel-heading">SKMPrintings</div>
    <div class="panel-body">
        We are designers and the providers for a wide range of design and print solutions ranging from paper calender, wedding cards, business cards mugs, T-shirts, glass etc. Basically if want something to be printed somewhere and might even want someone design it all for you, We will! 
    </div>
    <div class="panel-body">
        We are located at <a href="https://goo.gl/maps/fsyLpa9fwXH2">18C, Seth Bagan Gullee, Near Girish Park, Nopany Vidyalaya, Kolkata, West Bengal 700006, India</a>
        We are based in the heart of West Bengal that is Kolkata. This means the core unit is located in Kolkata. But if you need the product delivered in a remote location or some other state even some other country, dont worry. It will be done.
    </div>
    <div class="panel-body">
      <p>Got more to ask?</p>
      <ul>
          <li>Call us at <a href="tel:+919433401545">+91-94334-01545</a> or <a href="tel:+918071745525">+91-80717-45525</a></li>
          <li>Email <a href="mailto:skmishra007@gmail.com">skmishra007@gmail.com</a></li>
      </ul>
    </div>
</div>
<div class="flex-box">
   <div class="">      
    <a href="https://www.facebook.com/skmprintings.press" class="btn btn-social-icon btn-facebook">
        <span class="fa fa-facebook"></span>
    </a> 
   </div>
   <div class="padding-left-10">       
    <a href="https://twitter.com/skmishra007" class="btn btn-social-icon btn-twitter">
        <span class="fa fa-twitter"></span>
    </a>
   </div>
</div>
<skm-footer></skm-footer>